.card{
    border-radius: 1rem;
    width: 400px;
    overflow: hidden;
}

.card figure{
    width: 100%;
    height: auto;
}

.card figure img{
    width: 100%;
    height: auto;
}

.cardBody{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1rem;
    background: white;
}

.cardBody p {
    line-height: 140%;
}
.tagsWrapper{
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-transform: uppercase;
}

.singleTagBox{
    padding: 5px 15px;
    border: .5px solid gray;
    border-radius: 4px;
}

.html{
    color: #dd4b25;
}
.css{
    color: #2862e9;
}
.js{
    color: #efd81d;
}
.php{
    color: #7a86b8;
}
.default{
    color: black;
}