.main{
    padding-bottom: 150px;
    display: flex;
    align-items: start;
}

.postsList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    row-gap: 2rem;
}
.postsList li{
    margin-right: 153px;
}

.cardsWrapper{
    /* width: calc(100% - 306px); */
    width: 100%;
    display: flex;
    justify-content: center;
}